@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
:root {
 --dark-blue: (#24053E);
 --green: (#44FFA1);
 --grey: (#584D62);
 --white: (#FFFFFF);

}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  position: relative;
  width: 100%; 
}

.rectangle {
  height: 660px;
  width: 1439px;
}

.logo {
  position: absolute;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
}

.circle-group {
  width: 80%;
  max-width: 333px;
  position: absolute;
  bottom: 305px;

}

.Data {
  color: #fff;
  font-family: 'Fraunces', serif, 600;
  font-size: 70px;
  text-align: center;
  height: 160px;
  position: absolute;
  width: 625px;
  left: 403px;
  top: 56px;
}

 .tailored {
  border-bottom: 3px solid #44ffa1;
  color: white;
}

.button {
  border-style: none;
  background-color: #44ffa1;
  font-family: 'Manrope', sans-serif;
  color: #24053E;
  font-size: 18px;
  position: relative;
  bottom: 375px;
  left: 669px;
  height: 61px;
  width: 161px;
}

.Apply {
  border-bottom: 2px solid #44ffa1;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  position: relative;
  left: 70%; 
  bottom: 88%;
 display: inline-block;
}


